@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 48px 24px;

  .appointment-pets {
    animation-name: fadepets;
    animation-duration: 0.5s;
    @include mobile() {
      width: 100%;
    }
    @keyframes fadepets {
      from {
        transform: translateX(-50%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    .pets {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: center;
      gap: 10px 12px;
      margin-top: 40px;
      @include mobile() {
        display: flex;
        flex-direction: column;
      }
      .pet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 1rem 0;
        width: 9.5em;
        color: #2ab7a9;
        border: 2px solid lightgray;
        border-radius: 5px;
        @include mobile() {
          width: 100%;
        }
        &:hover {
          border-color: #2ab7a9;
        }
        p {
          margin: 0;
          color: #6b6b6b;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
  .appointment-concerns {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: fade;
    animation-duration: 0.5s;
    @include mobile() {
      width: 100%;
    }
    @keyframes fade {
      from {
        transform: translateX(50%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    .concerns {
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: center;
      gap: 10px 12px;
      margin-top: 40px;
      @include mobile() {
        display: flex;
        flex-wrap: wrap;
      }
      .concern {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 1rem 0;
        width: 9.5em;
        color: #2ab7a9;
        border: 2px solid lightgray;
        border-radius: 5px;
        transition: all 0.3s;
        @include mobile() {
          width: 40%;
        }
        &:hover {
          border-color: #2ab7a9;
        }
        &.active {
          border-color: #2ab7a9;
        }
        p {
          margin: 0;
          color: #6b6b6b;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
    a {
      cursor: pointer;
      margin-top: 24px;
      color: #2ab7a9;
    }
    button {
      margin: 32px 0 0;
      padding: 1rem 1.5rem;
      width: 50%;
      border-radius: 0.375rem;
      background-color: #2ab7a9;
      color: white;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #229589;
      }
      &:disabled {
        cursor: not-allowed;
        background-color: #2ab7a9;
      }
    }
    .start-over {
      padding-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 5px;
      color: #6b7280;
    }
  }
  .veterinary {
    text-align: left;
    p {
      color: gray;
    }
    .vets {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      .vet {
        width: 30%;
        border: 1px solid gray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        .vet-info {
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          border-bottom: 1px solid gray;
          gap: 10px;
          cursor: pointer;

          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
          }
          .full-name {
            font-weight: bold;
            color: #2ab7a9;
          }
          span {
            color: gray;
          }
          .rating {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #e74694;
            font-size: 16px;
            font-weight: 700;
          }
        }
        .available-date {
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          gap: 10px;
          button {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            border: 1px solid gray;
            padding: 5px 10px;
            border-radius: 9999px;
            font-size: 16px;
            cursor: pointer;
            .date {
              color: #2ab7a9;
              font-weight: 500;
            }
          }
          .more {
            border: #2ab7a9 solid 1px;
            padding: 10px 20px;
            color: #2ab7a9;
            &:hover {
              background-color: #2ab7a928;
            }
          }
        }
      }
    }
  }
}
