.homepage {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    h1 {
      padding-top: 40px;
      font-family: "sharp-sans-bold" !important;
      font-weight: bold !important;
      font-size: 45px !important;
      color: #00234b !important;
    }
    p {
      font-family: sharp-sans-semibold, Arial, sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #00234b;
    }
    img {
      width: 325px;
      height: 292px;
    }
  }
}
