@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
.homepage {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    h1 {
      padding-top: 40px;
      font-family: "sharp-sans-bold" !important;
      font-weight: bold !important;
      font-size: 45px !important;
      color: #00234b !important;
    }
    p {
      font-family: sharp-sans-semibold, Arial, sans-serif;
      font-size: 20px;
      line-height: 25px;
      color: #00234b;
    }
    .book-now-btn {
      padding: 0.5rem 2.5rem;
      background-color: #2ab7a9;
      border-radius: 1em;
      border-radius: 9999px;
      font-size: 1.125rem;
      line-height: 1.75rem;
      font-family: DM Sans, sans-serif;
      font-weight: 500px;
      color: black;
      display: inline-flex;
      align-items: center;
      gap: 10px;
    }
    img {
      width: 325px;
      height: 292px;
    }
  }
  @include mobile() {
    .container {
      padding: 0 10px;
      flex-direction: column;
      text-align: center;
      img {
        display: none;
      }
    }
  }
}
